
@{
    ViewBag.Title = "Budgets";
}

@section title{
    <a href="#" class="navbar-brand">Weekly Budget</a>
}

<h2>Budgets</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Unique Id</th>
        <th>Start Day</th>
        <th>Amount</th>
        <th>Created Date</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: budgets">
    <tr>
        <td data-bind="text: name"></td>
        <td data-bind="text: uniqueId"></td>
        <td data-bind="text: startDay"></td>
        <td data-bind="text: amount"></td>
        <td data-bind="text: createdDate().toLocaleString()"></td>
    </tr>
    </tbody>
</table>

@section scripts{
    <script>
        function Budget(data) {
            this.name = ko.observable(data.Name);
            this.uniqueId = ko.observable(data.UniqueId);
            this.startDay = ko.observable(data.StartDay);
            this.amount = ko.observable(data.Amount);
            this.createdDate = ko.observable(new Date(data.CreatedDate));
        }
        function BudgetsViewModel() {
            var self = this;
            this.budgets = ko.observableArray();

            $.getJSON("@ViewBag.URL", function (allData) {
                var mappedBudgets = $.map(allData, function (item) { return new Budget(item); });
                self.budgets(mappedBudgets);
            });
        }

        ko.applyBindings(new BudgetsViewModel());
    </script>
}

