@{
    ViewBag.Title = "Expenses";
}

@section title{
    <a href="#" class="navbar-brand">Weekly Budget</a>
}

<h2>Expenses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Is Deleted</th>
            <th>Budget Id</th>
            <th>Date Updated</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: expenses">
        <tr>
            <td data-bind="text: date().toLocaleDateString()"></td>
            <td data-bind="text: description"></td>
            <td data-bind="text: amount"></td>
            <td data-bind="text: isDeleted"></td>
            <td data-bind="text: budgetId"></td>
            <td data-bind="text: dateUpdated().toLocaleString()"></td>
        </tr>
    </tbody>
</table>

@section scripts{
    <script>
        function Expense(data) {
            // This ensures the Date of the expense matches what the user input
            var date = new Date(data.Date);
            date = new Date(date.getTime() + (date.getTimezoneOffset() * 60000));
            this.id = ko.observable(data.Id);
            this.date = ko.observable(date);
            this.description = ko.observable(data.Description);
            this.amount = ko.observable(data.Amount);
            this.budgetId = ko.observable(data.BudgetId);
            this.isDeleted = ko.observable(data.IsDeleted);
            this.dateUpdated = ko.observable(new Date(data.DateUpdated));
        }
        function BudgetsViewModel() {
            var self = this;
            this.expenses = ko.observableArray();

            $.getJSON("@ViewBag.URL", function (allData) {
                var mappedExpenses = $.map(allData, function (item) { return new Expense(item); });
                self.expenses(mappedExpenses);
            });
        }

        ko.applyBindings(new BudgetsViewModel());
    </script>
}

