
@{
    ViewBag.Title = "TopExpenses";
}

@section title{
    <a href="#" class="navbar-brand">Weekly Budget</a>
}

<h2>Top Expenses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th style="text-align: right">Count</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: expenses">
        <tr>
            <td data-bind="text: description"></td>
            <td style="text-align: right" data-bind="text: count"></td>
        </tr>
    </tbody>
</table>

@section scripts{
    <script>
        function Expense(data) {
            this.description = ko.observable(data.Description);
            this.count = ko.observable(data.Count);
        }
        function BudgetsViewModel() {
            var self = this;
            this.expenses = ko.observableArray();

            $.getJSON("/api/Expense/Top?apiKey=@ViewBag.ApiKey", function (allData) {
                var mappedExpenses = $.map(allData, function (item) { return new Expense(item); });
                self.expenses(mappedExpenses);
            });
        }

        ko.applyBindings(new BudgetsViewModel());
    </script>
}




